// Перемінні -дозволяють швидко редагувати всі елементи на сайті.
// Колір текста
$color-gray: #777777;
// Основні кольри сайта
$color-brown-light: #ba8554;
$color-brown-dark: #a14f03;
// Чорний і білий колір сайта
$color-black: #000;
$color-white: #fff;
// Тінь для кнопки
$box-shadow: (0px 4px 2px 0px rgba(0, 0, 0, 0.3));
$shadow-h2: 0rem 0.4rem 0.4rem rgba($color-black, 0.25);
// Типографіка
$font-size-parpgraph: 1.6rem;
$font-size-parpgraph-h2: 3.6rem;
$font-size-parpgraph-h3: 2rem;
$font-size-parpgraph-h4: 2.8rem
