@use "../../../index.scss" as *;
.btn {
  @include style-link($color-gray);
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: $font-size-parpgraph-h3;
  text-decoration: none;
  border: none;
  background: $color-brown-light;
  color: $color-white;
  letter-spacing: 0.5rem;
  @include raspoond(tab-land_1240px) {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
  }
  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: $box-shadow;
    &::after {
      opacity: 0;
      transform: scaleX(1.4) scaleY(1.6);
      background: $color-brown-light;
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: $box-shadow;
  }
  &::after {
    content: "";
    background: $color-white;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &_animated {
    animation: BtnToUp 1s ease-out 0.9s;
    animation-fill-mode: backwards;
  }
}
// Анімація яка піднімає кнопку на 5рх наверх.
@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
