@use "../../index.scss" as *;

.titleSecondary {
  max-width: 98.1rem;
  display: inline-block;
  font-size: $font-size-parpgraph-h2;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;

  // Гредієнт текста h2 TitleSecondary /////////////
  background: linear-gradient(
    90deg,
    rgba($color-brown-light, 0.7) 1%,
    rgba($color-brown-dark, 0.7) 99.94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  //////////////////////////////////////////////
  transition: all 0.4s;
  backface-visibility: hidden; // видимість тильної сторони прихована (Тінь перестає дьоргатись)

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: $shadow-h2; // Тінь Текста  h2   TitleSecondary
  }
  &_white {
    color: $color-white;
  }
}
