@use "../../index.scss" as *;

.footer {
  background: #333;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 38rem;
    padding: 8rem 1rem;
    position: relative;
    @include raspoond(tab-port_900px) {
      align-items: center;
      justify-content: flex-start;
      padding: 8rem 15rem;
    }
  }
  &__logo_img {
    position: absolute;
    left: 44%;
    top: 20%;
    width: 12rem;
    @include raspoond(tab-port_900px) {
      left: 75%;
      top: 14%;
    }
  }
  &__list {
    display: flex;
    gap: 5rem;
    list-style: none;
    @include raspoond(tab-port_900px) {
      flex-direction: column;
      gap: 4rem;
    }
    &_link {
      &:link,
      &:visited {
        color: $color-white;
        font-size: $font-size-parpgraph;
        font-weight: 300;
        letter-spacing: 0.2rem;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
        transition: all 0.3s;
        &:hover,
        &:active {
          transform: rotate(5deg) scale(1.2);
          color: $color-brown-dark;
          box-shadow: $box-shadow;
        }
      }
    }
  }
}
